 /* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""), url("../fonts/montserrat-v24-latin_cyrillic-300.woff2") format("woff2"), url("../fonts/montserrat-v24-latin_cyrillic-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/montserrat-v24-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/montserrat-v24-latin_cyrillic-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/montserrat-v24-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/montserrat-v24-latin_cyrillic-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/montserrat-v24-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/montserrat-v24-latin_cyrillic-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/montserrat-v24-latin_cyrillic-800.woff2") format("woff2"), url("../fonts/montserrat-v24-latin_cyrillic-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */

}
body { 
  font-family: "Montserrat";
  background-color: #f5f5f5;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.header {
  margin: 40px 0;
  text-align: center;
}

.header__avatar {
  border-radius: 50%;
  width: 200px;
  height: auto;
}

.header__title {
  margin: 30px 0 10px 0;
  font-size: 32px;
  line-height: 1.2;
  font-family: "Montserrat", "Arial", sans-serif;
}

.header__subtitle {
  color: #8f8f8f;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
}

.about, 
.skills, 
.links {
  width: 320px;
  margin-bottom: 40px;
}

.about__header, 
.skills__header, 
.links__header {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 15px 0;
  text-align: center;
}

.about__text, 
.skills__container, 
.links__container {
  background: #ffffff;
  border-radius: 10px;
  padding: 20px 20px 10px;
  box-sizing: border-box;
  margin: 0;
}

.about__text {
  text-align: justify;
}

.skills__container, 
.links__container {
  list-style-type: none;
}

.skills__item, 
.links__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #dadada;
}

.skills__item:last-child, 
.links__link:last-child {
  border-bottom: none;
}

.links__title {
  margin: 0;
  font-size: 14px;
  flex: 1;
}

.links__link {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.linsk__link,
.links__link a:visited {
  text-decoration: none;
  color: #36af22;
  font-size: 14px;
  margin-left: 10px;
}

footer {
  margin: 0 0 40px 0;
}

.button-link {
  font-size: 14px;
  border: 2px;
  cursor: pointer;
  padding: 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 320px;
  background: #39b924;
  border-radius: 20px;
  line-height: 1.4;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
  height: 40px;
}
